* {
	line-height: 1.1
}

a,
b {
	text-align: center
}

#pathdata b {
	grid-column: span 2
}

p,
dl {
	margin: 0 1ch
}

label {
	white-space: nowrap
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1
}

#gui {
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: min-content;
	max-height: calc(100vh - 2.4rem);
	padding: 0.2rem;
	outline: 2px grey solid;
	border-radius: 5px;
	background: #0001;

	>* {
		margin: 0.2rem auto;
		width: fit-content;
		display: grid;
		gap: 0.2rem
	}
}

#togglers {
	display: flex !important
}

#pathdata,
#tutorial {
	width: 100%;
	border-radius: 5px;
	background: #fff
}

#keyboard {
	--size: 2.5rem;
	padding-right: calc(var(--size) / 4 * 3);
	grid-template-columns: repeat(5, 1fr);

	:nth-child(n+6) {
		margin-right: calc(-1 * var(--size))
	}

	:nth-child(n+6):nth-child(-n+10) {
		margin-left: calc(var(--size) / 4)
	}

	:nth-child(n+11):nth-child(-n+15) {
		margin-left: calc(var(--size) / 4 * 3)
	}

	button {
		position: relative;
		background: oklab(var(--l) var(--a) var(--b));

		&::after {
			display: none;
			position: absolute;
			top: var(--size);
			padding: 5px;
			border-radius: 5px;
			background: oklab(1 calc(-1 * var(--a)) var(--b));
			/* setKeybindLayer() */
			content: var(--tooltip);
			z-index: 2
		}

		&:hover::after {
			display: unset
		}
	}

	&:has(#shift.active) button {
		--a: 0.1
	}
}

#shift {
	min-width: min-content;
	padding: 0 10px
}

button {
	--l: 1;
	--a: -0.1;
	--b: 0.1;
	border-radius: 5px;
	background: oklab(var(--l) 0 0);
	width: var(--size);
	height: var(--size);
	white-space: nowrap;

	&:hover {
		--l: 0.9
	}

	&:active {
		--l: 0.8
	}

	&:disabled {
		--l: 0.7
	}
}

input,
select,
#rgb-input {
	min-width: 9ch;
	padding-left: 2px;
	border: 1px grey solid;
	border-radius: 2px;

	&:focus {
		outline: 2px #789 solid
	}
}

#rgb-input {
	display: flex;

	&::before {
		align-content: center;
		content: "#"
	}

	input {
		border: none;
		outline: none !important;
		flex: 1
	}

	&:has(input:focus) {
		outline: 2px #789 solid
	}
}

#rgb-input:has(input:invalid),
input:invalid {
	color: maroon;
	background: lightcoral
}

.hide {
	display: none !important
}
