* {
	font-family: sans-serif;
	line-height: 1.1;
}

b {
	text-align: center
}

p,
dl {
	margin: 0 1ch
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1
}

#gui {
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: min-content;
	padding: 0.2rem;
	outline: 2px grey solid;
	border-radius: 5px;
	background: #0001;

	>* {
		margin: 0.2rem auto;
		width: fit-content;
		display: grid;
		gap: 0.2rem
	}
}

#togglers {
	display: flex !important
}

#pathdata,
#tutorial {
	width: 100%;
	min-width: 26ch;
	border-radius: 5px;
	background: #fff
}

#keyboard {
	--size: 2.5rem;
	padding-right: calc(var(--size) / 4 * 3);
	grid-template-columns: repeat(5, 1fr);

	:nth-child(n+6) {
		margin-right: calc(-1 * var(--size))
	}

	button {
		background: oklab(1 -0.1 0.1);
	}

	&:has(#shift.active) button {
		background: oklab(1 0.1 0.1);
	}
}

#a,
#s,
#d,
#f,
#g {
	margin-left: calc(var(--size) / 4)
}

#z,
#x,
#c,
#v,
#b {
	margin-left: calc(var(--size) / 4 * 3)
}

#shift {
	min-width: min-content;
	padding: 0 10px
}

button {
	border-radius: 5px;
	background: #fff;
	width: var(--size);
	height: var(--size);
	white-space: nowrap;

	&:hover {
		filter: brightness(0.9)
	}

	&:active,
	&.active {
		filter: brightness(0.8)
	}

	&:disabled {
		filter: brightness(0.7)
	}
}

input,
select,
#rgb-input {
	min-width: 9ch;
	padding-left: 2px;
	border: none;
	border-radius: 2px;
	outline: 1px grey solid
}

#rgb-input {
	display: flex;

	&::before {
		align-content: center;
		content: "#"
	}

	input {
		outline: none;
		flex: 1
	}
}

#rgb-input:has(input:invalid),
input:invalid {
	color: maroon;
	background: lightcoral
}

.hide {
	display: none !important
}
